
<div class="row">
    <div class="col-lg-4 offset-lg-4">
        <div class="col-lg-12  col-sm-12 col-xs-12 " >
            <div class="itemFondo">
                <p class="resultado" >{{resultado}}</p>
                <p class="numero" >{{bmi}}</p>
                <p class="interpretacion" >{{interpretacion}}</p>


            </div>
            <div class="row" >
                <div class="col-lg-12  col-sm-12 ">
                    <button  routerLink="/"  class="btn btn-primary w-100" >
                     Calcular de nuevo
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>